a {
    cursor: pointer;
}

.scheduler {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-left: 126px;
}

.channels {
    background: none repeat scroll 0 0 #D9D9D9;
    border: 2px solid #375576;
    height: 350px;
    left: 11px;
    position: absolute;
    top: 70px;
    width: 130px !important;
    z-index: 1;
}

.data-row, .header-row {
    border-bottom: 1px solid #375576;
    border-right: 2px solid #375576;
    text-align: center;
    display: table;
    table-layout: fixed;
    height: 50px;
    width: 600px;
}

.header-cell {
    border-top: 2px solid #375576;
    display: table-cell;
    vertical-align: middle;
    width: 80px;
    text-align: left;
    padding-left: 2px;
}

.cell {
    display: table-cell;
    vertical-align: middle;
    border: 1px solid #375576;
}

.no-data {
    width: 960px;
}

#sean_connery .cell:last-child { border-right:none; }
#george_lazenby .cell:last-child { border-right:none; }
#roger_moore .cell:last-child { border-right:none; }
#timothy_dalton .cell:last-child { border-right:none; }
#pierce_brosnan .cell:last-child { border-right:none; }
#daniel_craig .cell:last-child { border-right:none; }

.first_column {
    width: 126px;
    padding-left: 0;
    height: 50px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    border-bottom: 2px solid #375576;
}

.first_column, .header-row {
    background-color: #D9D9D9;
}

#programme-info {
    border: 2px solid #375576;
    background-color:#fff;
    color:#000;
    display:none;
    padding:20px;
    min-width:365px;
    min-height: 180px;
}

.skyLogo {
    height: 40px;
    width: 80px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.b-close{
    cursor:pointer;
    padding: 8px;
    float: right;
    color: black;
    border: 2px solid #375576;
    margin-top: 30px;
}

.b-close:hover{
    text-decoration: none;
    color: black;
}